.code-descrip{
  border: 3px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 25%;
  padding: 10px 10px 10px 10px;
}
.output{
  border: 3px solid black;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 25%;
  padding: 10px 10px 10px 10px;
}

.specific-code{
  
}